@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto&family=Roboto+Mono&display=swap');

:root {
  --black: #0f141e;
  --blue: blue;
  --gray: #86898f;
  --gray-light: #f1f1f1;

  --bg-blue: #c1e7f7;
  --bg-green: #e5ffe7;
  --bg-red: #ffe5e5;
  --bg-yellow: #fff9dc;

  --link: #546c9f;
  --skills-border:#fcb7b7;

  --shadow-foto: rgba(0, 0, 0, 0.25);
  --shadow-card: rgba(134, 137, 143, 0.25);
}

body {
  background-color: var(--gray-light);
  color: var(--black);
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--blue);
}

a:visited {
  color: var(--link);
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px var(--shadow-foto);
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.info p {
  color: var(--gray);
  margin: 0;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 3px;
  word-spacing: 5px;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.container {
  max-width: 750px;
  margin: auto;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 0px var(--shadow-card);
}

.card h2 {
  margin-bottom: 10px;
  color: var(--black);
}

.card h3 {
  margin-bottom: 10px;
  color: var(--black);
}

.hard-skills {
  background: var(--bg-red);
}

.hard-skills span {
  border: 1px solid var(--skills-border);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: var(--gray);
}

.list-skills {
  display: flex;
  flex-wrap: wrap;
}

.development {
  background: var(--bg-green);
}

.projects {
  background: var(--bg-green);
}

.experience {
  background: var(--bg-blue);
}

.learn {
  background: var(--bg-blue);
}

.hobby {
  background: var(--bg-yellow);
}

.list {
  padding-left: 20px;
}

.list li {
  color: var(--gray);
  margin-bottom: 10px;
}

.website {
  color: var(--gray);
  margin-bottom: 10px;
}

.website a {
  color: var(--link);
}
.website p {
  color: var(--gray);
}
